.layout {
  display: flex;
  position: relative;
  flex-direction: column;

  @media (min-width: 765px) {
    flex-direction: row;
  }
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
  transform: translateX(0px);
  transition: all 200ms ease-in;
  &.active {
    transform: translateX(240px);
  }

  @media (min-with: 765px) {
    // transform: translateX(250px);
    flex: 1;
  }
}
