.layout {
  display: flex;
  // min-height: 100svh;
  // grid-template-columns: 240px 1fr;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;

  @media (min-with: 765px) {
    // transform: translateX(250px);
    flex: 1;
  }
}
