.store-preview {
  padding-block: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

.store-preview-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  img {
    width: 40rem;
  }
}

.see-more {
  text-transform: uppercase;
  font-weight: 600;
  margin-left: auto;
}

.see-more:hover,
.see-more:focus {
  text-decoration: underline;
}
