.product {
  padding-block: 6rem;

  .container {
    display: flex;
    gap: 2rem;

    & > * {
      width: 100%;
    }
  }

  &__images {
    display: flex;
    gap: 1rem;

    img {
      width: 5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

    input {
      padding-block: 0.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
