.footer {
  background-color: #fff;
  padding-block: 2rem;
  .container {
    display: flex;
    flex-direction: column;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }

  .footer-details {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 765px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      //   align-items: center;
    }

    .footer-menu {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    .footer-details {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  input {
    padding: 0.5rem;
  }
}
