.footer {
  background-color: #fff;
  padding-block: 2rem;
  .container {
    border-top: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }

  .footer-details {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 765px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      //   align-items: center;
    }

    .footer-menu {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    .footer-details {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  label {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
  }

  input {
    padding: 0.5rem;
    width: 15rem;
  }
}

.subscribe-btn {
  display: inline-block;
  border: none;
  border-radius: 0;
  padding-inline: 2.3em;
  padding-block: 1em;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
}
